<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Green Goodies - Votre boutique écologique{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/favicon.png') }}" type="image/svg+xml">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        {% block stylesheets %}
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% include "base/nav.html.twig" %}
        

    {% for message in app.flashes('success') %}
        <div class="flash-message success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="flash-message error">
            {{ message }}
        </div>
    {% endfor %}
            
        <div class="main-container">
            {% block body %}{% endblock %}
        </div>
        
        {% include "base/footer.html.twig" %}
    </body>
</html>
