<nav class="navbar"> 
    <div class="nav-left">
        <a href="{{ path('app_home') }}">
            <span id="website-logo">G</span>
            <span id="website-title">Green Goodies</span>
        </a>
    </div>
    <div class="nav-right">        
        <ul>
            <li><a href="{{ path('app_product_list') }}">Nos produits</a></li>
            {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('app_cart') }}">Mon panier</a></li>
                <li><a href="#">Mon compte</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('app_register') }}">Inscription</a></li>
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
            {% endif %}
        </ul>     
    </div>
</nav>
