{% extends 'base/base.html.twig' %}

{% block title %}Green Goodies | {{ product.name }} {% endblock %}

{% block body %} 

    <div class="product-detail-container">
        <div class="product-detail-left">
            <img class="product-detail-picture" src="{{ asset(product.picture) }}" alt="{{ product.name }}">
        </div>

        <div class="product-detail-right">
            <div class="product-detail-content">
                <h1 class="product-detail-title">{{ product.name }}</h1>
                <p class="product-detail-price">{{ product.price | number_format(2, ',', ' ') }} €</p>
                <p class="product-detail-description-title">Description</p>
                <p class="product-detail-description">{{ product.fullDescription }}</p>
                <button class="product-detail-button">Ajouter au panier</button>
            </div>
        </div>
    </div>

{% endblock %} 
