{% extends 'base/base.html.twig' %}

{% block title %}Green Goodies | {{ product.name }} {% endblock %}

{% block body %} 


<section class="product-detail-container">

    {% if app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {% for message in app.flashes('success') %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="product-detail-left">
        <img class="product-detail-picture" src="{{ asset(product.picture) }}" alt="{{ product.name }}">
    </div>

    <div class="product-detail-right">
        <div class="product-detail-content">
            <h1 class="product-detail-title">{{ product.name }}</h1>
            <p class="product-detail-price">{{ product.price | number_format(2, ',', ' ') }} €</p>
            <p class="product-detail-description-title">Description</p>
            <p class="product-detail-description">{{ product.fullDescription }}</p>

            {% if is_granted('ROLE_USER') %}
                <form action="{{ path('app_cart_add', { 'id': product.id, 'slug': product.slug }) }}" method="post" class="add-to-cart-form">
                    <div class="quantity-container">
                        <label for="quantity" class="quantity-label">Quantité :</label>
                        <input type="number" id="quantity" name="quantity" value="{{ currentQuantity > 0 ? currentQuantity : 1 }}" min="0" class="quantity-input"> 
                    </div>
                    <div class="product-detail-button-container">
                        <button type="submit" class="button-type-one">
                            {% if currentQuantity > 0 %} 
                                Mettre à jour
                            {% else %}
                                Ajouter au panier
                            {% endif %}
                        </button>
                    </div>
                </form>
            {% else %}
                <a href="{{ path('app_login') }}" class="button-type-one">Veuillez vous connecter pour ajouter au panier</a>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
