{% extends 'base.html.twig' %}

{% block title %}GreenGoodies | Accueil {% endblock %}

{% block body %}
    <div class="main-container">
        <div class="welcome-container">
            <div class="welcome-left">
                <div class="welcome-left-content">
                    <h1>Bienvenue</h1>
                    <p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable</p>
                    <br>
                    <p>Retrouvez des articles d'hygiène & beauté, des accessoires & boissons et du prêt-à-porter</p>
                </div>
            </div>

            <div class="welcome-right">
                <img class="welcome-picture" src="{{asset('../img/hero-header-picture.png') }}" alt="Hero Header">
            </div>
        </div>
        
        <h2 class="product-title"> Nos produits </h2>
        <div class="product-container">
            <div class="product-cards-container">
                <div class="product-card">
                    <img class="product-card-picture" src="{{asset("../img/products/kit-hygiene.png")}}" alt="">
                    <div class="product-info">
                        <h3 class="product-card-title">Titre du produit</h3>
                        <p class="product-card-description">Description du produit</p>
                        <p class="product-card-price">Prix du produit</p>
                        <button class="product-card-button">Voir le produit</button>
                    </div>
                </div>
                <div class="product-card">
                    <img class="product-card-picture" src="{{asset("../img/products/kit-hygiene.png")}}" alt="">
                    <div class="product-info">
                        <h3 class="product-card-title">Titre du produit</h3>
                        <p class="product-card-description">Description du produit</p>
                        <p class="product-card-price">Prix du produit</p>
                        <button class="product-card-button">Voir le produit</button>
                    </div>
                </div>
                                <div class="product-card">
                    <img class="product-card-picture" src="{{asset("../img/products/kit-hygiene.png")}}" alt="">
                    <div class="product-info">
                        <h3 class="product-card-title">Titre du produit</h3>
                        <p class="product-card-description">Description du produit</p>
                        <p class="product-card-price">Prix du produit</p>
                        <button class="product-card-button">Voir le produit</button>
                    </div>
                </div>
                    <div class="product-card">
                    <img class="product-card-picture" src="{{asset("../img/products/kit-hygiene.png")}}" alt="">
                    <div class="product-info">
                        <h3 class="product-card-title">Titre du produit</h3>
                        <p class="product-card-description">Description du produit</p>
                        <p class="product-card-price">Prix du produit</p>
                        <button class="product-card-button">Voir le produit</button>
                    </div>
                </div>
                                <div class="product-card">
                    <img class="product-card-picture" src="{{asset("../img/products/kit-hygiene.png")}}" alt="">
                    <div class="product-info">
                        <h3 class="product-card-title">Titre du produit</h3>
                        <p class="product-card-description">Description du produit</p>
                        <p class="product-card-price">Prix du produit</p>
                        <button class="product-card-button">Voir le produit</button>
                    </div>
                    
                </div>
                                <div class="product-card">
                    <img class="product-card-picture" src="{{asset("../img/products/kit-hygiene.png")}}" alt="">
                    <div class="product-info">
                        <h3 class="product-card-title">Titre du produit</h3>
                        <p class="product-card-description">Description du produit</p>
                        <p class="product-card-price">Prix du produit</p>
                        <button class="product-card-button">Voir le produit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
