
{% extends "base/base.html.twig" %}

{% block title %}Green Goodies | Paiement {% endblock %}


{% block body %}

    <h2>Récapitulatif de votre commande</h2>
    <section class="recap-container">
        <ul class="recap-article">
            {% for product in products %}

            <div class="card-article-cart">
                <img src="{{ asset(product.picture) }}" alt="{{ product.name }}">

                <div class="info-article-cart">
                    <li>{{ product.name }} - {{ cart[product.id] }} x {{ product.price }} €</li>
                </div>
            </div>
                
            {% endfor %}
        </ul>
        <p>Total : {{ total }} €</p>
        
        <div class="recap-button-container">
            <a href="{{ path('app_order_payment') }}" class="button-type-one" data-turbo="false" >Procéder au paiement</a>
        </div>
    </section>
{% endblock %}
