{% extends "base/base.html.twig" %}

{% block title %}Green Goodies | Mon compte {% endblock %}

{% block body %}
    <section class="account-container">
        <h2 class="account-title">Mon compte</h2>

        <div class="account-order">
            <h3 class="my-order">Mes commandes</h3>
        {% if orders is empty %}
            <p>Vous n'avez pas encore passé de commande.</p>
        {% else %}
            <table class="command-container">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Date</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ order.orderDate|date('d/m/Y') }}</td>
                            <td>{{ order.totalPrice|number_format(2, ',', ' ') }} €</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        </div>

        <div class="account-api-access">
            <h3 class="my-api-access">Mon accès API</h3>
            
            {% if app.user.isApiAccessEnabled %}
                <a href="{{ path('api_access') }}" class="button-type-one">Désactiver mon accès API</a>
                <a href="/api/doc" class="button-type-one">Accéder à l'API de Green Goodies</a>
            {% else %}
                <a href="{{ path('api_access') }}" class="button-type-one">Activer mon accès API</a>
            {% endif %}
        </div>

        <div class="delete-account">
            <a href="{{ path('app_account_delete') }}" class="button-type-one" onclick="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?')">Supprimer mon compte</a>
        </div>

    </section>
{% endblock %}